extends layout

block hero-unit
  .jumbotron
    .container

block content
  .container
    .row
      .col-md-6
        h3 고객센터
        h2 1234-1234
        p 일반 문의 09:00~22:00 / 실시간 문의 09:00~18:00 
  